/*GENERAL STYLING*/

p
{
  width: 700;
}

/*SLIDE SHOW BUTTONS*/
.lbutton
{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

}
.rbutton
{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.mySlides {display:none;}


/*SCREENSHOT SLIDESHOW SCALING*/
.w3-content {width:80vw;}
.myScreenshot {height:300px;}
@media only screen and (min-width: 1100px) {.myScreenshot {height:500px;}}
@media only screen and (min-width: 900px) and (max-width: 1100px) {.myScreenshot {height:400px;}}
@media only screen and (min-width: 450px) and (max-width: 900px){.myScreenshot {height:200px;}}
@media only screen and (min-width: 1px) and (max-width: 450px)
{
  .myScreenshot
  {
    width: 100%;
    height:180px;
    margin: auto;
  }
  .button {opacity: 10%}
}


/*GAME SPRITES (line break)*/
.pixelArt
{
  image-rendering: crisp-edges;
}

.gameSprite
{
  height:100px;
}



@media only screen and (min-width: 501px)
{
  .gameSprite
  {
    height:150px;
  }
}
