/*========================
BODY CENTER (+mobile scaling)
=========================*/
.centerDark
{
    font-size: 25px;
    font-family: 'Pavanam', sans-serif;
    color: white;
    left: 50%;
/*    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
}

.documentDark
{
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
}

@media only screen and (max-width: 750px)
{
    .documentDark
    {
        width: calc(100% - 24px);
        padding-left: 12px;
        padding-right: 12px;
    }

}
@media only screen and (min-width: 751px)
{
    .documentDark
    {
        width: 700px;
        margin-left: 3vw;
        margin-right: 3vw;
    }
}


@media only screen and (min-width: 700px)
{
    .container  {  font-size: 30px; }
}


/*========================
     HEADER / FOOTER
=========================*/

.footer
{
    background-color: black;
    text-align: center;
    overflow: hidden;
}

/*========================
     SELECTOR MENU
=========================*/

.menu
{
    display: block;
    font-size: 16px;
    font-family: 'Pavanam', sans-serif;
    font-weight: 700;
    color: #ffff00;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #4f4f4f;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #1f1f1f;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #1f1f1f 70%,#4f4f4f 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.menu::-ms-expand
{
    display: none;
}
.menu:hover
{
    border-color: #eaff00;
}
.menu:focus
{
    border-color: #ffff00;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}
.menu option
{
    font-weight:normal;
    color:#ffffff;
}