td
{
    padding-right: 1.5vw;
}

input[type=text]
{
    color:#000217;
    font-size: 2.1vw;
    width: 100%;
    padding: 1vh 1vh;
    margin: 1vh 0vh;
    box-sizing: border-box;
}


input[type=password]
{
    color:#000217;
    font-size: 2.1vw;
    width: 100%;
    padding: 1vh 1vh;
    margin: 1vh 0vh;
    box-sizing: border-box;
}


input[type="submit"]
{
    border-radius: 25px;
    background-color: #060070;
    color: cyan;
    text-align: center;
    text-decoration: none;

    /*border: none;*/
    border-radius: 10px;
    border: 2px solid cyan;

    padding: 1.3vh 1.3vw;
    display: inline-block;
    font-size: 1.5vw;

    transition-timing-function: linear;
    transition: background-color 0.15s;
}


input[type="submit"]:hover
{
    background-color: Yellow;
    border: 2px solid rgba(0, 0, 0, 0);
    color: black;
}


.loader{
    display:none;
}

#loaderSpinner {
    border: 16px solid cyan;
    border-radius: 50%;
    border-top: 16px solid yellow;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 0.5s linear infinite; /* Safari */
    animation: spin 0.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}