/*========================
BODY CENTER (+mobile scaling)
=========================*/
html
{
    color: #090d1f;
    background-color: #090d1f;
}

.container
{ 
    height: 200px;
    position: relative;
}
.center
{
    font-size: 2.1vw;
    font-family: 'Pavanam', sans-serif;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
@media only screen and (max-width: 1000px)
    {
        .center { font-size: 20px; }
    }
@media only screen and (max-width: 650px)
    {
        .center { font-size: 20px; }
        p>a {display:block;}
        #downloadPad {height: 1vh;}
    }

#headfootPad
{
    height: 50px;
}


/*========================
     HEADER / FOOTER
=========================*/

.footer
{
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.navbar {
    overflow: hidden;
    font-family: 'Pavanam', sans-serif;
    background-color: rgba(0, 0, 0, 0.35);
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
}

/* Links inside the navbar */
.navbar a {
    overflow: hidden;
    font-size: 180%;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 7px 14px;
    text-decoration: none;

    transition-timing-function: linear;
    transition: background-color 0.13s;

    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0);
}
.navbar a:hover {
    overflow: hidden;
    color: black;
    text-shadow: 2px 2px rgba(0,0,0,0);
    background: rgba(255, 255, 0, 1.0);
}


#navselect
{
    border-radius: 10px;
    border: 1px solid yellow;
}

#navright {
    float: right;
    padding: 7px 14px;
    padding-top: 10px
}



/*========================
    BUTTONS / LINKS
=========================*/
.w3-button
{
  border-radius:10px;
}

p > a
{
    color: yellow;
}
p > a:hover
{
    text-decoration: underline;
}

span > a:hover
{
    text-decoration: underline;
}