<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>FS | {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon64.png')  }}" />
    <link href="https://fonts.googleapis.com/css?family=Pavanam" rel="stylesheet">
    
    {{ JSGlue.include() }}
</head>


<body>
    <!-- CONTENT  -->

    {% block content %}{% endblock %}


</body>
</html>


{% block script %}{% endblock %}

