<!DOCTYPE html>
<html lang="en">
<head>
    {% include "baseHead.html" %}
    <title>FS | {% block title %}{% endblock %}</title>
</head>

<body>
    <!-- CONTENT  -->
    <div id="particles-js" class="container">
    <div class="center">
    <center>
        {% block content %}{% endblock %}
    </center>
    </div>
    </div>

    <!-- HEADER (navbar) -->
    {% include "baseNavbar.html" %}

    <!-- FOOTER -->
    <div class="footer">
        {% block footer %}{% endblock %}
    </div>
</body>
</html>


<!-- scripts -->
<script src="{{ url_for('static', filename='particles/particles.js') }}"></script>
<script src="{{ url_for('static', filename='particles/app.js') }}"></script>
{% block script %}{% endblock %}