<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    {% include "baseHead.html" %}
    <title>FS | {% block title %}{% endblock %}</title>
</head>

<style>
    .navbar {background-color: rgba(0, 0, 0, 0.9);}
</style>

<body>

    <!-- CONTENT  -->
    <div id="headfootPad"></div>
    <div class="centerDark">
    <center>
        {% block content %}{% endblock %}
    </center>
    </div>

    <!-- HEADER (navbar) -->
    {% include "baseNavbar.html" %}
    
    <!-- FOOTER -->
    <div id="headfootPad"></div>
    <div id="headfootPad"></div>
    <div class="footer">
        {% block footer %}{% endblock %}
    </div>



</body>
</html>


{% block script %}{% endblock %}

