<!-- METADATA -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon64.png')  }}" />

<!-- FONTS / W3 -->
<link href="https://fonts.googleapis.com/css?family=Pavanam" rel="stylesheet">

<!-- CORE CSS -->
<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='particles/particles.css') }}">
<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/reset.css') }}">
<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/main.css') }}">

<!-- SPECIAL CSS -->
<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/dark.css') }}">
<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/advertise.css') }}">
<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/forms.css') }}">




{{ JSGlue.include() }}