<div class="navbar">
    <!-- ACCOUNT/LOGIN BUTTONS-->
    {% if "username" in session %}
    <a id="navright" href="{{ url_for('accounts.logoutPage') }}">Log Out</a>
    <a id="navright" href="{{ url_for('accounts.profilePage') }}">{{session.username}}</a>
    {% endif %}
    {% if "username" not in session %}
    <a id="navright" href="{{ url_for('accounts.registerPage') }}">Register</a>
    <a id="navright" href="{{ url_for('accounts.loginPage') }}">Log In</a>
    {% endif %}
    
    <!-- NAVBAR -->
    {% for n in config["NAVPAIRS"] %}
        <a {% if request.path.startswith(url_for(n[1])) %} id="navselect" {% endif %} href="{{ url_for(n[1]) }}">{{n[0]}}</a>
    {% endfor %}

    <!-- ADMIN NAVBAR -->
    {% if session["username"] in config["ADMINS"] or config["LOCAL"]==True %}    
        {% for n in config["ADMINPAIRS"] %}
            <a {% if request.path.startswith(url_for(n[1])) %} id="navselect" {% endif %} href="{{ url_for(n[1]) }}">{{n[0]}}</a>
        {% endfor %}
    {% endif %}


</div>