{% extends "baseParticles.html" %}

{% block title %}
Countdown
{% endblock %}


{% block content %}
<h1>Martholomew Von Bermingham Countdown</h1>
<p id="demo"></p>
{% endblock %}



{% block script %}
<script>
    // Set the date we're counting down to
    var countDownDate = new Date("Jul 8, 2021 22:50:00").getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

      // Get today's date and time
      var now = new Date().getTime();

      // Find the distance between now and the count down date
      var distance = countDownDate - now;

      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Display the result in the element with id="demo"
      document.getElementById("demo").innerHTML = days + " : " + hours + " : " + minutes + " : " + seconds;

      // If the count down is finished, write some text
      if (distance < 0)
      {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "HE HAS ARRIVED";
      }
    }, 1000);
</script>
{% endblock %}