{% extends "baseDark.html" %}

{% block title %}
Developer Console
{% endblock %}


{% block content %}

    <!-- Current Session Data -->
    <!-- -------------------- -->
    <h1>My Session</h1>
    <table>
        <tr>
            <td><strong>id</strong></td>
            <td>{{request.cookies.get('session')}}</td>
        </tr>
    {% for key in session %}
        <tr>
            <td><strong>{{ key }}</strong></td>
            <td>{{ session[key] }}</td>
        </tr>
    {% endfor %}
    </table>

    <!-- List of Socketed Users -->
    <!-- -------------------- -->
    <h1>Online Users</h1>
    <button class="w3-button w3-yellow" onclick="connectSock()">Connect</button>
    <button class="w3-button w3-yellow" onclick="disconnectSock()">Diconnect</button>
    <table>
    <tbody id="onlineTable">
        <tr>
            <td>(connect to see who's online)</td>
        </tr>
    </tbody>
    </table>

    <!-- Refresh Site (build list)-->
    <!-- -------------------- -->
    <button class="w3-button w3-yellow" onclick="refreshSite()">Refresh Site</button>  

    <!-- Profile Lookup -->
    <!-- -------------------- -->
    <hr>
    <form method="POST" action="">
        <table>
            <td><input type="text" name="username" /></td>
            <td><input type = "submit"></td>
        </table>
    </form>
    
    <h1>{{ profile["username"] }}</h1>
    {% if "error" not in profile %}
    <button class="w3-button w3-yellow" onclick="joinAlpha('{{profile['username']}}')">Alpha Join</button>    
    <button class="w3-button w3-yellow" onclick="removeAlpha('{{profile['username']}}')">Alpha Remove</button>
    {% endif %}
    <table>     
    {% for key in profile %}
        <tr>
            <td><strong>{{ key }}</strong></td>
            <td>{{ profile[key] }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}



{% block script %}
<!-- Socket.io -->
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='js/developer.js') }}"></script>
{% endblock %}