{% extends "baseDark.html" %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
<h1>{{ title }}</h1>
<table>
{% for key in dictionary %}
    <tr>
        <td><strong>{{ key }}</strong></td>
        <td>{{ dictionary[key] }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}