{% extends "baseDark.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<div class="documentDark">
{% for c in content %}
	{{c}}<br>
{% endfor %}
<div>
{% endblock %}