{% extends "baseParticles.html" %}

{% block title %}
{{code}}
{% endblock %}

{% block content %}
<h1>Error {{ code }}</h1>
	<p>
	    {{ desc.title() }}
	</p>

	{% if code==500 %}
	<p>
		Report this on <a href="https://discord.gg/sUpeg3W" target="_blank">Discord</a>, thanks!
	</p>
	{% else %}
	<p>
	    <a href="javascript:history.back()">Go Back</a>
	</p>	
	{% endif %}


{% endblock %}
