{% extends "baseDark.html" %}

{% block title %}
Fantasy Cards
{% endblock %}

{% block content %}
<div class="w3-content w3-display-container">
  <button class="w3-button w3-yellow w3-display-left button lbutton" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-yellow w3-display-right button rbutton" onclick="plusDivs(1)">&#10095;</button>
  <div class="mySlides">
    <img class="myScreenshot" src="{{url_for('static', filename='fantasycards/header2.png')}}"></div>
  <div class="mySlides"> 
    <img class="myScreenshot" src="{{url_for('static', filename='fantasycards/1.png')}}"></div>
</div>

<div class="documentDark">
<p>
Fantasy Cards is a cooperative tabletop RPG. It aims to incentivize group play, as opposed to alternative systems which simply maximize rule comprehensiveness. Fanatasy Cards also attempts to alleviate the initial learning process that plagues the tabletop genre. This is achieved by creating a system entirely comprised of decks of cards. 
By structuring the game like this, we avoid the need for intimidating, frontloaded manuals and character sheets; instead, we rely on relevant rules being included on card footnotes. The large library of skill cards also results in an especially combinatorial play space, which enables higher level play.
</p>
</div>

<img class="gameSprite" src="{{url_for('static', filename='fantasycards/sprites/Guardian.png')}}">
<img class="gameSprite" src="{{url_for('static', filename='fantasycards/sprites/Scholar.png')}}">
<img class="gameSprite" src="{{url_for('static', filename='fantasycards/sprites/Go! Go! Go!.png')}}">
<img class="gameSprite" src="{{url_for('static', filename='fantasycards/sprites/Fortified Strike.png')}}">
<img class="gameSprite" src="{{url_for('static', filename='fantasycards/sprites/Fireworks.png')}}">
<img class="gameSprite" src="{{url_for('static', filename='fantasycards/sprites/Raise Corpse.png')}}">
<img class="gameSprite" src="{{url_for('static', filename='fantasycards/sprites/Cloudy Air.png')}}">
<img class="gameSprite" src="{{url_for('static', filename='fantasycards/sprites/Stun.png')}}">

<br>
<!-- (DISCONTINUED:#ff0000) (ON HOLD:#ff9100) (IN DEVELOPMENT:#28ff00)-->
<p> Fantasy Cards has been <span style="color:#ff0000"><b>DISCONTINUED</b></span>.</p>
<!-- download -->
<button class="w3-button w3-yellow" onclick=" window.open('{{url_for('tabletop.designPage')}}')">View Design Document</button>
<div style="height: 20px;"></div>
<button class="w3-button w3-yellow" onclick=" window.open('https://mega.nz/file/XjQxnQAQ#MwLt5jA4fTKQHM4frTdvq8-l_7OAZA2DYnaPlHbOYAo')">Download Cards (1.5gb)</button>
{% endblock %}



{% block script %}
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      x[slideIndex-1].style.display = "block";  
    }
</script>
{% endblock %}
