{% extends "baseParticles.html" %}

{% block title %}
Florasoft
{% endblock %}


{% block content %}
<h1>Florasoft is Live!</h1>
<p>
    <!--
    Play <a href="{{ url_for('lovelogic.gamePage') }}">Love Logic</a> Now!
    <span style="font-size: 60%;">(Open Beta)</span>
    -->
    <div id="downloadPad"></div>
</p>
<p>
    <a href="https://discord.com/invite/s6UwTP6sPj" target="_blank">Discord</a> | 
    <a href="{{ url_for('main.privacyPage') }}">Privacy Policy</a> | 
    <a href="{{ url_for('main.servicePage') }}">Terms of Service</a>
</p>
{% endblock %}


<!--
Portal Page

ICONS :: https://materialdesignicons.com/

RoseMaster3000
    https://gitlab.com/RoseMaster3000
    https://github.com/RoseMaster3000
    https://twitter.com/RoseMaster3000
    https://www.twitch.tv/RoseMaster3000
    https://bitbucket.org/RoseMaster3000
    https://www.youtube.com/c/RoseMaster3000
    https://www.reddit.com/user/RoseMaster3000
    https://steamcommunity.com/id/RoseMaster3000
    (todo) https://itch.io/profile/RoseMaster3000  
    (todo) https://florasoft.live/discord/RoseMaster3000

Florasoft Pages
    https://discord.com/invite/s6UwTP6sPj
    {{ url_for('main.servicePage') }}
    {{ url_for('main.privacyPage') }}


-->