<!DOCTYPE html>
<html lang="en">
<head>
    {% include "baseVue.html" %}
    {% include "baseHead.html" %}
    <title>FS | NETSOL</title>
</head>


<body>
    <div id="app">
    <v-app>
    <v-main>
        <div id="headfootPad"></div>

        <v-btn fab color="green">
            <v-icon> mdi-leaf </v-icon>
        </v-btn>

    </v-main>
    </v-app>
    </div>

    {% include "baseNavbar.html" %}

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="{{ url_for('static', filename='js/netsol.js') }}"></script>
</body>
</html>



