{% extends "baseParticles.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<style> .center { top: 46%; } </style>
<h1>Log In</h1>
<form method="POST" action="">
    <table>
        {% if report!=None %}
        <tr>
            <p style="color:red">{{report}}</p>
        </tr>
        {% endif %}
        {% if "password_verify" in request.form %}
        <tr>
            <p style="color:green">{{targetUser}} Successfully Registered!</p>
        </tr>
        <tr>
            <td>Username / E-mail</td>
            <td><input type="text" name="username" value="{{targetUser}}"/></td>
        </tr>
        {% else %}
        <tr>
            <td>Username / E-mail</td>
            <td><input type="text" name="username" value="{{ request.form['username'] }}"/></td>
        </tr>
        {% endif %}
        <tr>
            <td>Password</td>
            <td><input type="password" name="password"/></td>
        </tr>
    </table>
    <input type = "submit" value="Log In">
</form>
{% endblock %}


{% block footer %}
Don't Have An Account?<br><a href="{{ url_for('accounts.registerPage') }}">Sign Up Here</a>
{% endblock %}

