{% extends "baseDark.html" %}

{% block title %}
Love Logic
{% endblock %}

{% block content %}
<div class="w3-content w3-display-container">
  <button class="w3-button w3-yellow w3-display-left button lbutton" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-yellow w3-display-right button rbutton" onclick="plusDivs(1)">&#10095;</button>

  <div class="mySlides">
    <img class="myScreenshot" src="{{url_for('static', filename='lovelogic/header2.png')}}"></div>
  <div class="mySlides"> 
    <img class="myScreenshot" src="{{url_for('static', filename='lovelogic/1.png')}}"></div>
  <div class="mySlides"> 
    <img class="myScreenshot" src="{{url_for('static', filename='lovelogic/2.png')}}"></div>
  <div class="mySlides"> 
    <img class="myScreenshot" src="{{url_for('static', filename='lovelogic/3.png')}}"></div>
  <div class="mySlides"> 
    <img class="myScreenshot" src="{{url_for('static', filename='lovelogic/4.png')}}"></div>


</div>

<div class="documentDark">
<p> Love Logic is a deconstructionist piece on the dating simulator genre. In it, you play as Thomas, an analytical college student who has just fallen in love. During gameplay, the player attempts to "optimize" their romantic strategies by using observational and reasoning skills. However, it ultimately becomes apparent that this approach, while advantageous in games, is toxic and self-destructive in reality.</p>
</div>

<img class="gameSprite" src="{{url_for('static', filename='lovelogic/sprites/thomas.png')}}">
<img class="gameSprite" src="{{url_for('static', filename='lovelogic/sprites/fernanda.png')}}">
<img class="gameSprite" src="{{url_for('static', filename='lovelogic/sprites/rose.png')}}">
<img class="gameSprite" src="{{url_for('static', filename='lovelogic/sprites/kristen.png')}}">
<img class="gameSprite" src="{{url_for('static', filename='lovelogic/sprites/gabe.png')}}">


<br>
<!-- (DISCONTINUED:#ff0000) (ON HOLD:#ff9100) (IN DEVELOPMENT:#28ff00)-->
<p> Love Logic is currently <span style="color:#28ff00"><b>IN DEVELOPMENT</b></span>.</p>
<!-- download -->
<button class="w3-button w3-yellow" onclick=" window.open('https://rosemaster3000.itch.io/love-logic') "><b>Download on Itch.io</b></button>
<!-- <iframe src="https://itch.io/embed/230952?linkback=true&amp;border_width=0&amp;bg_color=000000&amp;fg_color=ffffff&amp;link_color=d21307&amp;border_color=000000" width="550" height="165" frameborder="0"><a href="https://rosemaster3000.itch.io/love-logic">Love Logic by RoseMaster3000</a></iframe> -->
{% endblock %}



{% block script %}
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      x[slideIndex-1].style.display = "block";  
    }
</script>
{% endblock %}
