<!DOCTYPE html>
<html lang="en">
<head>
    {% include "baseVue.html" %}
    {% include "baseHead.html" %}
    <title>FS | NETSOL</title>
</head>

<style>
    .navbar {background-color: rgba(0, 0, 0, 0.94);}
</style>


<body>
<v-app id="app">
<v-main>
<v-container>

{% if config["LOCAL"] %}
<div id="headfootPad"></div>
{% endif %}

<v-row>
    <!-- CURRENCY DROPDOWN -->
    <v-col>
    <v-card
    height=100
    min-width=250
    >
        <v-select
        v-model="curCurrency"
        :items="allCurrency"
        @input="refreshTotal"
        append-icon=""
        filled
        hide-details
        single-line
        height = 100
        full-width
        rounded
        >
        <template v-slot:selection="{ item }">
            <span
            class="d-flex justify-center"
            style="width: 100%;"
            >
            <h1
            style="line-height: 26pt"
            >
            [[ item.amountString ]]
            <small>[[ item.currencyCode ]]
            [[ item.countryEmoji ]]</small>
            </h1>
            </span>
        </template>
        </v-select>
    </v-card>
    </v-col>

    <!-- TIME SLIDER -->
    <v-col>
    <v-card
    height=100
    min-width=250
    >
        <v-card-title
        class="justify-center"
        >
            [[ durationString ]] 
        </v-card-title>
        <v-slider
            v-model='total["days"]'
            @end="refreshTotal"
            min="1"
            max="365"
        >
        <!--
        :thumb-color="blue"
        :label='Text to left of slider'
        thumb-label="always"
        -->
        </v-slider>
    </v-card>
    </v-col>

</v-row>


<!-- STAFF INCREMENT/DECREMENT -->
<v-row>
    <v-col
    v-for="(person, index) in team"
    v-bind:key='person["role"]'
    align="center"
    >
    <v-card
    width=200
    height=150
    >
        <v-card-title
        style="word-break: break-word; "
        class="justify-center"
        >
        [[ person["role"] ]]
        </v-card-title>

        <v-btn
            @click="decrement(index)"
            elevation="3"
            rounded
            small
            color="error"
            >
            <v-icon>
            mdi-account-minus
            </v-icon>
        </v-btn>
        <v-btn
            @click="reset(index)"
            depressed
            outlined
            color="white"
            :disabled='person["count"]==0'
            >
            [[ person["count"] ]]
        </v-btn>
        <v-btn
            @click="increment(index)"
            elevation="3"
            rounded
            small
            color="primary"
            >
            <v-icon>
            mdi-account-plus
            </v-icon>
        </v-btn>
    </v-card>
    </v-col>
</v-row>

</v-container>
</v-main>
</v-app>


{% if config["LOCAL"] %}
{% include "baseNavbar.html" %}
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="{{ url_for('static', filename='js/netsol.js') }}"></script>

</body>
</html>



