{% extends "baseDark.html" %}

{% block title %}
Privacy Policy
{% endblock %}


{% block content %}
<center>
    <h1>PRIVACY POLICY</h1>
    <p><strong>Florasoft LLC</strong></p>
</center>

<div class="documentDark">
<p>Effective February 1, 2019</p>
<p>In this Privacy Policy of Florasoft LLC (“Florasoft” or “We”) the following will be explained:</p>

<ul>
    <li>The ways we collect personal data about you and why we do so</li>
    <li>How we use your personal data, and</li>
    <li>The choices you have about your personal data.</li>
</ul>
<p>This Privacy Policy applies to all of Florasoft’s games, websites and other related services, collectively the “Services”. Please note that we may from time to time update this Privacy Policy by posting a new version on florasoft.live. If we make any material changes, we will notify you by posting a notice in the Services prior to the change becoming effective. Your continued use of the Services after the effective date will be subject to the new Privacy Policy.</p>
<h2><strong>How to contact us</strong></h2>
<p>If you have questions about data protection or if you have any requests for resolving issues with your personal data, we encourage you to primarily contact us so we can reply to you more quickly.</p>
<p>Name of the company collecting the personal data (the controller): Florasoft LLC</p>
<p>Address: <a href="https://www.google.com/maps/search/?api=1&query=PO%20BOX%20731412%20Ormond%20Beach,%20FL%2032173">PO BOX 731412 Ormond Beach, FL 32173</a></p>
<p>Email: <a href="mailto:rosemaster3000@gmail.com">rosemaster3000@gmail.com</a>.</p>

<h2><strong>The personal data we collect</strong></h2>

<p><strong><i>Data you provide us</i></strong></p>
<ul>
    <li>Player username</li>
    <li>Player email adress</li>
    <li>Any other data you voluntarily provide</li>
</ul>

<p><strong><i>Data we collect automatically</i></strong></p>
<ul>
    <li>All gameplay decisions and interactions with other players</li>
    <li>Your IP address and mobile device identifiers (such as your device ID, advertising ID, MAC address and IMEI)</li>
    <li>Data about your device, such as device name and operating system, browser type and language</li>
    <li>Coarse location data (country or city-specific)</li>
    <li>A Florasoft and/or game-specific ID for you when you use the Services</li>
</ul>

<p><strong><i>Data we collect from our partners</i></strong></p>
<ul>
    <li>Data we receive if you link a third-party tool with the Services (such as login using Social Media</li>
    <li>Demographic data (such as to determine the coarse location of your IP address)</li>
    <li>Data to fight fraud (such as refund abuse in games)</li>
    <li>Data from platforms that the games run on (such as to verify payment)</li>
    <li>Data for advertising and analytics purposes, so we can keep improving our games</li>
</ul>

<h2><strong>Why we collect your data</strong></h2>
<p><strong><i>To make the Services work (performance of contract)</i></strong></p>
<p>We process data necessary to</p>
<ul>
    <li>Create accounts and allow you to play our games and use our Services</li>
    <li>Connect you to other players for multiplayer experiences</li>
    <li>Operate the Services</li>
    <li>Verify and confirm payments</li>
    <li>Provide and deliver products and services you request</li>
    <li>Send you communication related to the Services</li>
</ul>
<p><strong><i>To make the Services more enjoyable for our players (legitimate interests)</i></strong></p>
<p>We collect and process necessary data to</p>

<ul>
    <li>Collect statistics to guide the development process</li>
    <li>Update and develop player profiles</li>
    <li>Develop and improve the Services and player experience</li>
    <li>Manage our relationship with you</li>
    <li>Provide social features as part of the Services</li>
    <li>Customize your Services experience</li>
    <li>Respond to your comments and questions and provide player support</li>
    <li>Provide you offers in the Services related to other Florasoft products and services</li>
    <li>Send you related information, such as updates, security alerts, and support messages</li>
    <li>Enable you to communicate with other players</li>
</ul>
<p><strong><i>To show personalized advertisements (legitimate interests or consent depending on applicable jurisdiction)</i></strong></p>
<p>We collect, process and transfer to our third-party partners personal data to:</p>

<ul>
    <li>Track the content you access in connection with the Services and your online behavior</li>
    <li>Deliver, target and improve our advertising and the Services</li>
</ul>

<p><strong><i>To keep the Services safe and fair</i></strong></p>
<p>Ensuring a level playing field in the Services is a top priority for us.</p>
<p>In order to keep the Services and their social features safe and fair, to fight fraud and ensure acceptable use otherwise, we have a legitimate interest to process necessary data to</p>

<ul>
    <li>Analyze and monitor use of the Services and its social features</li>
    <li>Moderate chats either automatically or manually</li>
    <li>Take action against fraudulent or misbehaving players</li>
</ul>
<p><strong><i>To analyze, profile, and segment</i></strong></p>
<p>In all of the above cases and purposes, we may analyze, profile and segment all collected data in anonymized form.</p>

<p><strong><i>With your consent</i></strong></p>
<p>With your consent, we may process your data for additional purposes, such as using your location based on your IP address to show you local events.</p>

<h2><strong>Who can see your data</strong></h2>

<p>Apart from Florasoft, your data can be accessed by others in the following situations:</p>

<p><strong><i>Other players and users</i></strong></p>
<p>Social features are a core component of our games. Other players and users may, for example, see your profile data, in-game activities and read the messages you have posted.</p>

<p><strong><i>Partners working for Florasoft</i></strong></p>
<p>Florasoft has partners to perform certain services for us. These partners process your data only at and according to Florasoft’s instructions in order to provide the Service, such as hosting, player support, advertising, analytics and fraud prevention.</p>

<p><strong>International data transfers</strong></p>
<p>Our Services are global by nature and your data can therefore be transferred to anywhere in the world. Because different countries may have different data protection laws than your own country, we take steps to ensure adequate safeguards are in place to protect your data as explained in this Privacy Policy.</p>

<h2><strong>Your rights and options</strong></h2>

<p><strong><i>Access the personal data we hold about you</i></strong></p>
<p>If you request, we will provide you a copy of your personal data in an electronic format.</p>

<p><strong><i>Your other rights</i></strong></p>
<p>You also have the right to correct your data or have your data deleted. If certain personal data is processed based on consent given by you, such consent can also be withdrawn by you at any time.</p>
<p>We will respond to all requests within a reasonable timeframe. If you have an unresolved privacy or data use concern that we have not addressed satisfactorily, please contact your local data protection authority.</p>


<h2><strong>How do we protect your data</strong></h2>

<p><strong><i>Security Safeguards</i></strong></p>
<p>In order to help ensure a secure and safe player experience, we are continuously developing and implementing administrative, technical and physical security measures to protect your data from unauthorized access or against loss, misuse or alteration.</p>

<p><strong><i>Data retention</i></strong></p>
<p>We retain your data for as long as your account is active or as needed to provide you the Services.&nbsp;We will for example periodically de-identify unused game accounts and we regularly review and de-identify unnecessary data.</p>
<p>Note that if you ask us to remove your personal data, we will retain your data as necessary for our legitimate business interests, such as to comply with our legal obligations, resolve disputes, and enforce our agreements.</p>

<h2><strong>Age limits</strong></h2>
<p>We do not knowingly collect or solicit personal data about or direct or target interest-based advertising to anyone under the age of 13 or knowingly allow such persons to use our Services.&nbsp; If you are under 13, please do not send any data about yourself to us, including your name, address, telephone number, or email address.&nbsp; No one under the age of 13 may provide any personal data.&nbsp; If we learn that we have collected personal data about a child under age 13, we will delete that data as quickly as possible.&nbsp; If you believe that we might have any data from or about a child under the age of 13, please contact us.</p>
</div>
{% endblock %}


{% block footer %}
<address>
<p>
    <strong>Florasoft LLC</strong> <a href="https://www.florasoft.live">www.florasoft.live</a>
    &nbsp;&nbsp;&nbsp;
    Business ID <a href="{{ url_for('main.llcPage') }}" >L19000016218</a>
    &nbsp;&nbsp;&nbsp;
    Email <a href="mailto:rosemaster3000@gmail.com">rosemaster3000@gmail.com</a>
    &nbsp;&nbsp;&nbsp;
    PO BOX 731412 Ormond Beach, FL 32173
</p>
</address>
{% endblock %}