{% extends "baseParticles.html" %}


{% block title %}
Profanity Tester
{% endblock %}


{% block content %}
<style>
    input[type=text]
    {
        font-size: 2.1vw;
        width: 30vw;
    }
</style>

<h1>Username Profanity Tester</h1>
<p style="color:{{color}}"><strong>{{report}}</strong></p>
<form method="POST" action="">
    <input type="text" name="username" id="username" />
    <br>
    <input type="submit" value="Submit">
</form>
{% endblock %}