{% extends "baseParticles.html" %}

{% block title %}
Register
{% endblock %}


{% block content %}
<style> .center { top: 46%; } </style>
<h1>Register</h1>
<form method="POST" action="" onsubmit="submitToSpinner()">
    <table>
        {% if message!=None %}
        <tr>
            <p style="color:green">{{message}}</p>
        </tr>
        {% endif %}
        {% if report!=None %}
        <tr>
            <p style="color:red">{{report}}</p>
        </tr>
        {% endif %}
        <tr>
            <td>E-mail</td>
            <td><input type="text" name="email" value="{{ request.form['email'] }}"/></td>
        </tr>
        <tr>
            <td>Username</td>
            <td><input type="text" name="username" value="{{ request.form['username'] }}" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" value="{{ request.form['password'] }}" /></td>
        </tr>
        <tr>
            <td>Password (verify)</td>
            <td><input type="password" name="password_verify"/></td>
        </tr>
    </table>

    <div class="submitter"> <input type="submit" value="Register"> </div>
    <div class="loader" id="loaderSpinner"></div>
    <div class="loader">Verifying info, please wait...</div>

</form>
{% endblock %}


{% block footer %}
Already Have An Account?<br><a href="{{ url_for('accounts.loginPage') }}">Log In Here</a>
{% endblock %}


{% block script %}
<script type="text/javascript">
    function submitToSpinner()
    {
        var submitter = document.getElementsByClassName("submitter");
        var loader = document.getElementsByClassName("loader");
        submitter[0].style.display = "none";
        loader[0].style.display = "block";
        loader[1].style.display = "block";
    }
</script>
{% endblock %}