{% extends "baseDark.html" %}

{% block title %}
ROBOTiX
{% endblock %}

{% block content %}
<div class="w3-content w3-display-container">

  <div class="mySlides">
    <img class="myScreenshot" src="{{url_for('static', filename='robotix/header2.png')}}"></div>
  <div class="mySlides"> 
    <img class="myScreenshot" src="{{url_for('static', filename='robotix/screenshot.png')}}"></div>
  <div class="mySlides">
    <img class="myScreenshot" src="{{url_for('static', filename='robotix/concepts.png')}}"></div>

  <button class="w3-button w3-yellow w3-display-left button lbutton" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-yellow w3-display-right button rbutton" onclick="plusDivs(1)">&#10095;</button>
</div>

<div class="documentDark">
<p> ROBOTiX a turn based sci-fi RPG. Each player controls 3 robots; every turn you select a sequence of your robots' attacks to have resolved simultaneously with your opponents sequence. The key to winning is having a deep understanding of both the game's systems and your opponent's psychology. There are no leveling systems, instead there is a large cast of robots from which you may choose to bring to battle. This RPG rewards mastery rather than commitment.</p>
</div>

<img class="gameSprite pixelArt" src="{{url_for('static', filename='robotix/sprites/fliode.gif')}}">
<img class="gameSprite pixelArt" src="{{url_for('static', filename='robotix/sprites/aerohaul.gif')}}">
<img class="gameSprite pixelArt" src="{{url_for('static', filename='robotix/sprites/rotogrow.gif')}}">
<img class="gameSprite pixelArt" src="{{url_for('static', filename='robotix/sprites/petropod.gif')}}">
<img class="gameSprite pixelArt" src="{{url_for('static', filename='robotix/sprites/krakannon.gif')}}">


<br>
<!-- (DISCONTINUED:#ff0000) (ON HOLD:#ff9100) (IN DEVELOPMENT:#28ff00)-->
<p> Development of ROBOTiX is <span style="color:#ff9100"><b>ON HOLD</b></span>.</p>
<!-- download -->
{% if "username" not in session %}
  <p>Downloads only available to users in closed-alpha.<br>If this is you, please <span><a href="{{ url_for('accounts.loginPage') }}" target="_blank">sign in</a></span> and install the game 👍</p>
  <button class="w3-button w3-yellow" onclick=" window.open('https://RoseMaster3000.github.io/Robotix-Core/') "><b>ROBOTiX Code Docs</b></button>


{% elif alpha_user is not defined or not alpha_user %} 
  <p>Downloads only available to users in closed-alpha.<br>Reach out on <span><a href="https://discord.gg/sUpeg3W" target="_blank">Discord</a></span> to be added.</p>

{% elif file_list is defined and file_list|length > 0 %}
    <p><i>You will need a <span><a href="{{url_for('accounts.registerPage')}}">Florasoft Account</a></span> to play.</i></p>
    <button class="w3-button w3-yellow" onclick=" window.open('{{url_for('robotix.gameDownload')}}') "><b>Download ROBOTiX</b></button>

{% else %}
    <p>Thank you for joining the closed-alpha.<br>Unfortunately, no builds of ROBOTiX are available 😔</p>

{% endif %}

<!-- {% if session["username"] == "RoseMaster3000" %} -->
<button class="w3-button w3-yellow" onclick=" window.open('https://RoseMaster3000.github.io/Robotix-Core/') "><b>ROBOTiX Code Docs</b></button>
<!-- {% endif %} -->


{% endblock %}


{% block script %}
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      x[slideIndex-1].style.display = "block";  
    }
</script>
{% endblock %}
