﻿<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Design Document</title>
  <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="https://stackedit.io/style.css" />
  <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/dark.css') }}">
</head>



<body class="stackedit">
  <div id="headfootPad"></div>
  <div class="stackedit__left">
    <div id="headfootPad"></div>
    <div class="stackedit__toc">


<ul>
<li><a href="#the-system-2019">Fantasy Cards</a>
<ul>
<li></li>
</ul>
</li>
<li><a href="#basics">BASICS</a>
<ul>
<li></li>
</ul>
</li>
<li><a href="#movement--range">MOVEMENT / RANGE</a>
<ul>
<li></li>
</ul>
</li>
<li><a href="#character-creation">CHARACTER CREATION</a>
<ul>
<li></li>
</ul>
</li>
<li><a href="#progression-system">PROGRESSION SYSTEM</a>
<ul>
<li></li>
</ul>
</li>
<li><a href="#enemies">ENEMIES</a>
<ul>
<li></li>
</ul>
</li>
<li><a href="#future-expansions">FUTURE EXPANSIONS</a>
<ul>
<li></li>
</ul>
</li>
<li><a href="#closing-statement">CLOSING STATEMENT</a></li>
<ul>
<li></li>
</ul>
</li>
</ul>

    </div>
  </div>
  <div class="stackedit__right">
    <div id="headfootPad"></div>
    <div class="stackedit__html">
      <h1 id="the-system-2019">Fantasy Cards</h1>

<h2><font color="red">
THIS IS AN OUTDATED DESIGN DOCUMENT. MUCH OF WHAT WAS WRITTEN HERE WAS CHANGED DURING PLAYTESTING.
</font></h1>

<h3 id="introduction">Introduction</h3>
<p>This is an overview of my a high fantasy tabletop role-play system. While I’d like to eventually develop a companion smartphone app, this should be possible to build completely from paper cards.</p>
<p>This system was in development in 2017 and was retired.<br>
In this document I will sometimes mention the 2017 version before going into detail about the current 2019 version.
<font color="red">
<b>ANNOTATION FROM THE FUTURE:</b><i> the iteration described in this document was retired in late 2019.</i>
</font></p>
<h3 id="goals">Goals</h3>
<p>The point of the system was to develop mechanics that<br>
incentivized group play (as opposed to thorough D&amp;D mechanics that attempt to simulate reality)</p>
<p>Additionally, I wanted to make the game very user friendly. Getting new players in most tabletops is difficult. This game should not be intimidating and I hope to minimize uncomfort for first timers.</p>
<h3 id="influences">Influences</h3>
<p><strong>Tome of Battle: The Book of Nine Swords</strong> (having schools of skill cards)<br>
<strong>Gloomhaven</strong> (modifier deck)<br>
<strong>Overwatch</strong> (Role based “classes”)<br>
<strong>Ryuutama</strong> (making character background creation smooth)<br>
<strong>Fate</strong> (Handling non-combat with characterization rather than a list of skills)</p>
<p>Looking at how Gloomhaven added curses got me thinking, why not make all buffs and work debuffs like this. Then I though, why not make every stat a “deck” to give me the designer more flexibility as to where statuses go. I liked this idea a lot, as it meant the abolishment of character sheets as well.</p>
<h3 id="design-bible">Design Bible</h3>
<p>These are the effects I hope to create through the design of this system</p>
<ol>
<li>Any given player’s turn should always be worth something
<ul>
<li>eg; moves should never miss</li>
<li>given how slow tabletop is, you shouldn’t wait 7 minutes only to have a turn where you do nothing</li>
</ul>
</li>
<li>The “best play” should always involve teamwork
<ul>
<li>sum of the parts should be greater than the whole</li>
</ul>
</li>
<li>No single player should be virtually useless
<ul>
<li>both in combat/in an RP setting</li>
</ul>
</li>
<li>Everything should be compartmentalized into cards
<ul>
<li>character sheets are overwhelming</li>
<li>a newcomer can very easily understand at a glance that every player is characterized by their 4 decks: health, power, talent, skill</li>
</ul>
</li>
<li>The game should move fast (no roadblocks)
<ul>
<li>table top is slow as it is</li>
<li>more importantly, don’t lose peoples attention, keep everyone in the zone</li>
<li>road blocks happen (single player takes too long) this must be designed around</li>
</ul>
</li>
</ol>
<h1 id="basics">BASICS</h1>
<h3 id="damage-types">Damage Types</h3>
<p>Whenever damage is dealt, it is one of 4 types of damage:<br>
<strong>HOT</strong>			(eg. fire, lighting, acid)<br>
<strong>COLD</strong>        (eg. water, ice, wind)<br>
<strong>SMASH</strong>       (eg. earth, bludgeon, force)<br>
<strong>SLICE</strong>       (eg. swords, spears, spikes)<br>
This only matters if the target is weak or resistant to the damage type.<br>
Anything that doesn’t fit into these 4 categories is a status (e.g. poison)</p>
<p><strong>Weak</strong> means the aggressor gets to draw an additional POWER CARD when summating the damage amount.<br>
<strong>Resistant</strong> means the aggressor draws one less POWER CARD when summating the damage amount.</p>
<p><em>NOTE: weakness+resistance rules only apply when targeting a single unit. If an entire NODE is targeted, these rules DO NOT apply.</em></p>
<h3 id="status-cards">STATUS CARDS</h3>
<ul>
<li>Poison/Curses/etc are represented in statuses.</li>
<li>When a status is inflicted, a corresponding STATUS CARD is shuffled into one of the targets power deck, health deck, or skill deck.</li>
<li>STATUS CARDS have an effect that happens the moment the card is drawn. Statuses are unaffected by weakness and resistance.</li>
</ul>
<p>While STATUSES that go in the Health and Power Decks are equal across all Professions, Skill Deck STATUSES are the most powerful, as this tends to be a very small/important deck to the player.</p>
<h1 id="movement--range">MOVEMENT / RANGE</h1>
<h3 id="node-map">Node Map</h3>
<p>Movement in this system takes place on a node map known simply as the MAP.<br>
The MAP is comprised of many NODES, connected by EDGES.  Any number of players/enemies occupy a single NODE; when they do, they are referred to as OCCUPANTS of the NODE.</p>
<h3 id="nodes">NODES</h3>
<p>Nodes are simply locations that can house any number of players and enemies, known as “OCCUPANTS” relative to the NODE.<br>
There is a special type of node known as an EXIT NODE.<br>
If a player is on an EXIT NODE and begins to MOVE, they have the option of simply leaving the MAP.</p>
<h3 id="edges">EDGES</h3>
<p>NODES are connected to each other by lines called EDGES.</p>
<ul>
<li>When a player moves X amount, they are allowed to move across X EDGES on the map.</li>
<li>When a skill has a range of 0, they are allowed to target anyone in the node the user is in</li>
<li>When a skill has a range of 2, they are allowed to target anyone in a node exactly 2 EDGES away.</li>
<li>When a skill has a range of 0-3, they are allowed to target anyone in the node the user is in, or anybody in any node that is 1, 2, or 3 EDGES away.</li>
</ul>
<h3 id="obstacles">OBSTACLES</h3>
<p>EDGES can have OBSTACLES on them. When a player is traveling across an EDGE with an OBSTACLE, it’s text triggers. There can be multiple OBSTACLES on an edge.</p>
<p>NODES can have OBSTACLES on them. When a player is in a NODE with an OBSTACLE, they are subject to the text on that OBSTACLE at all times.</p>
<p>There are 2 types of movement, MOVE and JUMP. When a player JUMPS they ignore all obstacles that exist on EDGES.</p>
<h1 id="character-creation">CHARACTER CREATION</h1>
<p>Creating a character is a 5 minutes/5 step process</p>
<ol>
<li>Choose a race by selecting a <strong>RACE CARD</strong></li>
<li>Choose a PROFESSION by selecting a <strong>PROFESSION CARD</strong></li>
<li>Referring to the PROFESSION CARD, get a deck of <strong>HEALTH CARDS</strong> (this is known as your HEALTH DECK)</li>
<li>Referring to the PROFESSION CARD, get a deck of <strong>POWER CARDS</strong> (this is known as your POWER DECK)</li>
<li>Referring to the PROFESSION CARD, build a deck of <strong>SKILL CARDS</strong> (this is known as your SKILL DECK)</li>
</ol>
<p><em>once the entire party has done steps 1-5…</em><br>
With help of the DM, claim <strong>TALENT CARDS</strong> and create your backstory alongside the other players.</p>
<hr>
<p>An overview of each type of card will now be explained:</p>
<h3 id="race-card">RACE CARD</h3>
<p><em>I just had to play the race card didn’t I</em>…</p>
<p>Your RACE is mapped to 2 things</p>
<ol>
<li>what damage types you are weak/resistant to</li>
<li>Your default/free action damage type and name</li>
</ol>

<table>
<thead>
<tr>
<th></th>
<th>HOT</th>
<th>COLD</th>
<th>SMASH</th>
<th>SLICE</th>
<th>RACE SKILL</th>
<th>DMG TYPE</th>
</tr>
</thead>
<tbody>
<tr>
<td>Elf</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>Punch</td>
<td>SMASH</td>
</tr>
<tr>
<td>Halfling</td>
<td>-</td>
<td>-</td>
<td>W</td>
<td>R</td>
<td>Kick</td>
<td>SMASH</td>
</tr>
<tr>
<td>Gnome</td>
<td>R</td>
<td>R</td>
<td>W</td>
<td>W</td>
<td>Spark</td>
<td>HEAT</td>
</tr>
<tr>
<td>Dwarf</td>
<td>W</td>
<td>R</td>
<td>R</td>
<td>W</td>
<td>Pound</td>
<td>SMASH</td>
</tr>
<tr>
<td>Goliath</td>
<td>W</td>
<td>-</td>
<td>R</td>
<td>-</td>
<td>Slam</td>
<td>SMASH</td>
</tr>
<tr>
<td>Lizardfolk</td>
<td>R</td>
<td>W</td>
<td>W</td>
<td>R</td>
<td>Breathe</td>
<td>HEAT</td>
</tr>
<tr>
<td>Catfolk</td>
<td>R</td>
<td>-</td>
<td>W</td>
<td>-</td>
<td>Scratch</td>
<td>SLICE</td>
</tr>
<tr>
<td>Merfolk</td>
<td>W</td>
<td>R</td>
<td>-</td>
<td>-</td>
<td>Spit</td>
<td>CHILL</td>
</tr>
<tr>
<td>Birdfolk</td>
<td>-</td>
<td>-</td>
<td>R</td>
<td>W</td>
<td>Peck</td>
<td>SLICE</td>
</tr>
</tbody>
</table><p>When you don’t want to use a skill in your hand, you may use you RACE SKILL<br>
After you use your RACE SKILL, your SKILL FLOW <strong>does not</strong> occur.<br>
Compared to standard skills, RACE SKILLS are pretty bad and wont see much use except in some rare circumstances.<br>
This exists for similar reasons that “Basic Attack” existed in the 2017 version of this game.</p>
<h3 id="profession-card">PROFESSION CARD</h3>
<p>The PROFESSION Card guides the building of your Health, Power, and Skill Deck (aka CHARACTER CREATION)</p>
<p>It also explains how you manage your skill cards during combat, also known as you “SKILL FLOW”</p>
<p>It should also give you a picture of what kind of life you lived before you turned to adventure. This is just a small nudge to help the player start to visualize the character they are building.</p>
<h3 id="health-card">HEALTH CARD</h3>
<p>The HEALTH DECK consists of a mixture of 3 possible HEALTH CARDS<br>
The composition of you HEALTH DECK is primarily determined by you PROFESSION CARD.</p>
<ul>
<li>FLESH CARD</li>
<li>WILLPOWER CARD</li>
<li>FORTITUDE CARD</li>
</ul>
<p>Normally when you take damage, you draw that many HEALTH CARDS from your HEALTH DECK and then discard them.<br>
If you are receiving HOT or COLD damage, all the WILLPOWER CARDS you draw are shuffled back into your health deck instead of being discarded.<br>
If you are receiving SMASH or SLICE damage, all the FORTITUDE CARDS you draw are shuffled back into your health deck instead of being discarded.</p>
<h3 id="power-card">POWER CARD</h3>
<p>In 2017, we invented hypothetical six sided dice to determing damage amounts.</p>

<table>
<thead>
<tr>
<th>Die Color</th>
<th>side1</th>
<th>side2</th>
<th>side3</th>
<th>side4</th>
<th>side5</th>
<th>side6</th>
</tr>
</thead>
<tbody>
<tr>
<td>white</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>1</td>
<td>2</td>
<td>2</td>
</tr>
<tr>
<td>grey</td>
<td>1</td>
<td>1</td>
<td>2</td>
<td>2</td>
<td>3</td>
<td>3</td>
</tr>
<tr>
<td>green</td>
<td>1</td>
<td>2</td>
<td>3</td>
<td>3</td>
<td>4</td>
<td>5</td>
</tr>
<tr>
<td>yellow</td>
<td>3</td>
<td>4</td>
<td>5</td>
<td>5</td>
<td>6</td>
<td>7</td>
</tr>
<tr>
<td>orange</td>
<td>6</td>
<td>7</td>
<td>8</td>
<td>8</td>
<td>9</td>
<td>10</td>
</tr>
<tr>
<td>red</td>
<td>10</td>
<td>11</td>
<td>13</td>
<td>13</td>
<td>15</td>
<td>16</td>
</tr>
<tr>
<td>purple</td>
<td>18</td>
<td>19</td>
<td>21</td>
<td>21</td>
<td>23</td>
<td>24</td>
</tr>
<tr>
<td>blue</td>
<td>28</td>
<td>30</td>
<td>34</td>
<td>34</td>
<td>38</td>
<td>40</td>
</tr>
<tr>
<td>black</td>
<td>45</td>
<td>50</td>
<td>55</td>
<td>55</td>
<td>60</td>
<td>65</td>
</tr>
</tbody>
</table><p>Dice are annoying, and back then I hoped we could have digital dice that could be tapped to summate them.<br>
This was to avoid dice rolling off tables and also to reduce the pain of doing lots of addition.<br>
Digitizing this process also meant that we could implement the algorithm that would generate the dice combination that had the feel (amount of dice) and balance (dice average==power) at the moment.</p>
<p>Back then I was in way over my head, I’m sure I could build something like that now…<br>
Even so, I now have the wisdom that we must build on paper first (Im even considering leaving it on paper)</p>
<hr>
<p>With that said: In the 2019 edition, we now have a POWER DECK.<br>
The composition of your POWER DECK is determined by your PROFESSION.<br>
POWER CARDS all have a blank back, and a number on the front.</p>
<p>SKILL CARDS will sometimes ask you to draw cards from your deck and use those cards. For Example:</p>
<p><code>Slash [draw 2] =&gt; Enemy (range 0)</code><br>
<sub><sup>Reminder: Weakness/Resistance makes the attacker sometimes draw 1 more or less card than the skill card asks for. In this example, if the enemy was weak to slashing damage, the user would do <code>[draw 3]</code></sup></sub></p>
<p>I will add that I considered removing randomness from this game like my other game Robots, but I want to avoid the game boiling down to a strategy game, as it causes roadblocks in the eyes of any players who may not see the game that way. Randomness prevents people from looking at the game in a way that is conducive of very meticulous turn planning; naturally this is still a thing that will happen, but this is a step I can take against it.</p>
<h3 id="skill-card">SKILL CARD</h3>
<p>Since the 2017 version, skills have always been the core of the system.<br>
However, looking back I feel this system was too complicated for its own good.<br>
A round of combat in 2017 was as follows:</p>
<ol>
<li>player plays a minor action (default to moving)</li>
<li>player plays a major action (default to basic strike)</li>
<li>player draws new cards on card use? also each PROFESSION had deck powers?</li>
<li>player passes turn to who ever they choose (enemies included) until everyone has gone once</li>
</ol>
<ul>
<li>once per round a player is allowed to play a counter card whenever the want</li>
<li>the last player to go in a round gets an extra major action</li>
</ul>
<p>Popcorn initiative does help keep player attention (ref. Design Bible #5) also rolling initiative never felt right, breaks pacing<br>
I also realized that single player combo stringing/choices (minor+major+choose who’s next) are a primary reason of roadblocks happen, breaking all other player focus.<br>
Reconciling that his is game is about team play / cooperation + how i want combat as go as fast as possible…</p>
<p>I decided to make 2019 round of combat go the following:</p>
<ol>
<li>player uses a SKILL CARD</li>
<li>player invokes their PROFESSION CARD’s “SKILL FLOW”</li>
<li>player chooses who goes next (enemies included)</li>
</ol>
<p>That’s it. The idea is that combos exclusively exist when players work together. Unlike my other game, Robots, i think the combos should not be a single player experience, rather a group activity.<br>
Also unlike Robot, this game must move fast so everyone can get to their turn. This single action turn was selected so that turns are churned out fast, keeping everyone in the action.</p>
<p>SKILL CARDS will usually include movement in them, the amount will be quite regularized, but movement might be omitted/nerfed/buffed depending on the skill at hand.<br>
The only decision a player will have to make is what card will they use. Some moves may be useful due to the board state, some maybe because they provide movement the player<br>
wants, or maybe, after discussion with another player, a move may be slected due to some planned synergy at the table.<br>
Counters have been removed from the game due to their complexity/unintuituvness. Some intelligent statuses will have to be invented in their place.<br>
(eg add skill card that self inflicts a status card to top of your HP deck that triggers when drawn)</p>
<p>SKILL CARDS will be composed of lines, each will happen in the order wirrtine on the skill card. The player can choose to opt out of lines if they choose.</p>
<p>Here are some examples of lines:</p>
<p><code>Smash [draw 1] =&gt; enemy (range 0)</code></p>

<table>
<thead>
<tr>
<th></th>
<th>explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td>Smash</td>
<td>What is being done</td>
</tr>
<tr>
<td>[draw 1]</td>
<td>how much is being done</td>
</tr>
<tr>
<td>=&gt;</td>
<td></td>
</tr>
<tr>
<td>enemy</td>
<td>who it is allowed to be done to</td>
</tr>
<tr>
<td>(range 0)</td>
<td>additional detail as to who its being done to</td>
</tr>
</tbody>
</table><p><code>Portal =&gt; node (range 2)</code></p>

<table>
<thead>
<tr>
<th></th>
<th>explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td>Portal</td>
<td>What is being made</td>
</tr>
<tr>
<td>=&gt;</td>
<td></td>
</tr>
<tr>
<td>node</td>
<td>where it is allowed to be made</td>
</tr>
<tr>
<td>(range 0)</td>
<td>additional detail as to where it can be made</td>
</tr>
</tbody>
</table><h3 id="talent-card">TALENT CARD</h3>
<p>Talents, also known as “skills” in other systems, usually have stats associated with them.<br>
I realized that this is silly, as most of the time whether something out of combat is going to work<br>
the players/dm can reasonably agree whether or not it should succeed/happen (taking into account<br>
both the characters ability but also whether doing such an action is good narrativly , etc.)</p>
<p>In the 2017 version, skills, after long debate, were trashed.<br>
In the 2019 version, im taking a new approach: TALENT CARDS.<br>
These are the TALENTS in the system:</p>
<ol>
<li><strong>Sneak &amp; Hide</strong>  (can camoflauge quite well/erase their presence)</li>
<li><strong>Lies &amp; Deception</strong>  (able to lie though their teeth)</li>
<li><strong>Acute Hearing</strong>  (really good hearing due to upbringing, eg guard or hunter)</li>
<li><strong>Wilderness Survivor</strong>  (cathing food, bush-craft, and survival is second nature)</li>
<li><strong>Grease Monkey</strong>  (a technician, knows how to fix stuff)</li>
<li><strong>Tough Negotiator</strong>  (experience with winning debates/haggling/doing politics)</li>
<li><strong>Literary Knowledge</strong>  (knows stories, verbal+written / fiction+non-fuction)</li>
<li><strong>Political Knowledge</strong>  (aware of the current politcal environment)</li>
<li><strong>Martial Knowledge</strong>   (well read on fighting styles across the globe)</li>
<li><strong>Magical Knowledge</strong>   (well read on schools of magic)</li>
<li><strong>Ecological Knowledge</strong>   (natural sciences, geography, biology)</li>
<li><strong>Flexible Gymnast</strong>   (not just strong, but agile/dextrous)</li>
</ol>
<p>There is no number associated with TALENTS.<br>
There is only one copy of every TALENT CARD.</p>
<p>After everyone has created their character, the DM plays out a scenario where the characters are getting to know each other.<br>
However, what is really going on is the DM has these TALENT CARDS out, and as people come up with their backstories (perhaps collaboratively) these TALENT CARDS are being divvied up among the players. Of course the DM keeps in mind to distribute cards evenly.<br>
<em>(in the optimal group of 4 players, each character should get 3 TALENT CARDS)<br>
(many times, 2 players may both want a certain card, the DM should explain to them that everyone should have equal amount of TALENTS, and to treat the distribution like an optimization problem, allocating the contested cards last)</em></p>
<p>After this session, all the players should have a backstory/character figured out. Hopefully their PROFESSION choice combined with seeing the<br>
TALENT CARDS the DM is trying to push should be enough lubricant to make this process fun/smooth.</p>
<p>Now that the TALENT CARDS have been distributes, the players can invoke them during role play when doing anything. The point of this to keep the players in character, but also to distribute the players participation in RP. If the group is comfortable, the DM/players can even invoke TALENT CARDS that aren’t even their own, as to get a non participating player involved.</p>
<p>I would like to emphasize that the TALENT CARDS are not a strict ruling, but a tool to assist in character creation and RP.</p>
<h1 id="progression-system">PROGRESSION SYSTEM</h1>
<h3 id="skill-pruning">SKILL PRUNING</h3>
<p>SKILL PRUNING happen whenever the DM wants (narrative/pacing should guide this)<br>
SKILL PRUNING helps players refine themselves and shows their chararters practicing / getting better slowly.<br>
SKILL PRUNING is when a the player randomly gets dealt 1-3 (DM chooses) skills from their known discipines.<br>
The player can then (optionally) replace one of the cards in their current SKILL DECK with one of the cards they are<br>
previewing during SKILL PRUNING.<br>
I repeat, This can happen whenever the DM wants, whenever its narrativly/pacing approporaite; after a combat is a vanilla example.</p>
<h3 id="level-up">LEVEL UP</h3>
<p>LEVEL UPS happen whenever the DM wants (narrative/pacing should guide this)<br>
LEVEL UPS reward the players for completing a story arc and shows their characters breaking limits and evolving.<br>
There are 5 levels, each corresponds to an adjective.</p>
<ol>
<li>Rookie</li>
<li>Talented</li>
<li>Seasoned</li>
<li>Veteran</li>
<li>Legendary</li>
</ol>
<p>Feel free to use these adjectives before your profession title! (eg. Seasoned Hunter, Legendary Scholar, Rookie Outlaw)</p>
<p>Every school of combat and magic skills are also split into 5 Levels.  As you might’ve guessed, the maximum skill level available to you is your current profession level.</p>
<p>Other than your profession title getting upgraded, these are things that may happen at level up:</p>
<ul>
<li>cards added/removed from HEALTH DECK</li>
<li>cards added/removed from POWER DECK</li>
<li>SKILL HAND SIZE increases</li>
<li>SKILL DECK SIZE increases</li>
</ul>
<p>To increase SKILL DECK SIZE, choose a school, randomly get a skill from it, and repeat until you skill deck size is up to par.</p>
<h3 id="skill-proposal">SKILL PROPOSAL</h3>
<p>SKILL PROPOSALS happen whenever the DM wants.<br>
This should be used as a narrative technique, you can simply hand a specific discipline to a player and they can go through a SKILL PRUNING with it.<br>
For example, say you meet a sword master who you did some job for, he could play you in return by teaching you a technique.<br>
As DM, this would be a good time to use a SKILL PROPOSAL.<br>
Hell, you could even bend rules, and PROPOSE a SKILL that the player could not normally obtain “legally.”</p>
<h1 id="enemies">ENEMIES</h1>
<h3 id="intro">Intro</h3>
<p>Enemies function exactly like heroes, just controlled by the DM.<br>
However, their POWER DECK will be a fraction of normal<br>
Also, their HEALTH DECK will be only FLESH.<br>
BOSSES will be the opposite, much better than the heroes.</p>
<h3 id="hppow-management">HP/POW Management</h3>
<p>Managing lots of decks will be overwhelming for the DM. Communal enemy decks would solve this, but statuses are incompatible with communal health decks…<br>
Software could be developed purely to manage enemy health and power decks.</p>
<h3 id="enemy-ai">Enemy AI</h3>
<p>Enemies should be created with skill decks of 3-5 cards. Enemies will simply draw a card from their skill deck and do it. If it is a status, then the enemy will revert to their race skill.</p>
<h1 id="future-expansions">FUTURE EXPANSIONS</h1>
<h3 id="a-name">A Name?!</h3>
<p>I think this games has a more clear identity with how “card” centered it is. The game’s title should allude to its cooperative nature/use of cards.</p>
<h3 id="exotic-professions">Exotic Professions</h3>
<p>There are 9 base professions in this system: Soldier, Hunter, Outlaw, Crusader, Performer, Warpriest, Scholar, Witch, and Sorcerer.<br>
There are 3 exotic professions that will not be added until a further date: Brawler, Dragoon, Craftsman.</p>
<h3 id="items">Items</h3>
<p>Items could be implemented by being permanent addition to you deck<br>
(armor would literally be added to your HEALTH DECK, something like if you are drawing damage, stop!)<br>
(magical amulet would be an attack added to you SKILL DECK)<br>
(legendary weapon would be some crazy GOLD card added to your POWER DECK)<br>
item requirements can be deck size minimums<br>
item could require a certain color be present in pow Deck<br>
there could be an implicit hand me down system, where the warrior gives his nice hp requirement stuff to wizard instead of throwing it away</p>
<h3 id="hard-mode">HARD MODE</h3>
<p>Hard mode would be similar to Gloomhaven, where I allow players to strategize more, but I will also give them far more control over their builds.<br>
Anytime they would draw a random skill, instead I would allow them to pick one of their choice. Also in this mode SKILL PROPOSALS would be banned from the DM.<br>
This mode would be suited for those who are familiar with the system, or those who want a more D&amp;D style experience, where leveling/character creation is more time consuming, turns would take more time, BUT character customization would be far more expansive, in fact, you could feel free to switch to D&amp;D dice skill checks if you wanted even.</p>
<h3 id="traveling">Traveling</h3>
<p>Developing a Node system similar to the one used in combat for traveling would be interesting.<br>
OBSTACLES could even be re-purposed to symbolize encounters.<br>
In fact, you could even have the entire table draw power cards to see if you pass or fail the check<br>
Failing could be getting attacked by wolves and everyone takes damage without working out a boring combat where you skill wolves.<br>
OR you could even make failing mean you enter a combat rather than avoiding it (bandits, etc)<br>
this was actually something that had crossed my mind in 2017 as seen in <a href="https://docs.google.com/document/d/19Lt7kP5Li_cBczjq6sSH09ZT_r3n8qkS9E_xD0dzOFg/edit">this document.</a></p>
<h1 id="closing-statement">CLOSING STATEMENT</h1>
<p>This framework lays out an structure to build PROFESSIONS/disciplines/skills in.<br>
Now all that must be done is to re-purpose the PROFESSIONS, disciplines, and schools from the 2017 edition.<br>
I do believe my proposals convert stats into cards fairly well, which makes the game look/feel simpler, while retaining same level of complexity.</p>

    </div>
  </div>

    <!-- HEADER (navbar) -->
    <div class="navbar">
    {% for n in config["NAVPAIRS"] %}
        <a {% if request.path == url_for(n[1]) %} id="navselect" {% endif %} href="{{ url_for(n[1]) }}">{{n[0]}}</a>
    {% endfor %}

    {% if session.authenticated %}
    <a id="navright" href="{{ url_for('accounts.logoutPage') }}">Log Out</a>
    <a id="navright" href="{{ url_for('accounts.myAccount') }}">{{session.username}}</a>
    {% endif %}
    {% if not session.authenticated %}
    <a id="navright" href="{{ url_for('accounts.registerPage') }}">Register</a>
    <a id="navright" href="{{ url_for('accounts.loginPage') }}">Log In</a>
    {% endif %}

    </div>

</body>

</html>
