{% extends "baseDark.html" %}

{% block title %}
Terms of Service
{% endblock %}

{% block content %}
<center>
    <h1>TERMS OF SERVICE</h1>
    <p><strong>(End User License Agreement)</strong></p>
    <p><strong>Florasoft LLC</strong></p>
</center>

<div class="documentDark">
<p>Effective February 1, 2019</p>
<p>These Terms of Service (“Terms”) of Florasoft LLC (“Florasoft” or “We”) apply to the use of all services provided by Florasoft, including games developed and/or published by Florasoft, Florasoft’s webpages, and any social functions of the aforementioned services or any other services Florasoft has attached these Terms to (“Services”). These Terms govern the relationship between you (“You” or “User”) and Florasoft regarding the use of the Services. By downloading, installing, accessing or using any part of the Services You agree to these Terms and accept to be bound by them. &nbsp;<strong>These Terms affect your legal rights and obligations, so if You do not agree to the Terms, You may not use Our Services</strong>.</p>
<p>The Services are intended for people who are at least 13 years old. If you are under 18, or a minor according to laws applicable to You, You represent that your legal guardian or legal representative has reviewed and agreed to these Terms and you have permission to access and use the Services. Use of the Services is also governed by Florasoft’s <a href="{{ url_for('main.privacyPage') }}">Privacy Policy</a>.</p>
<p>We can make changes to these terms at any time and your continued use of the Services shall confirm your acceptance of the updated terms. In addition to these Terms, You agree to abide by any supplemental policies of the Services, such as policies related to specific services (including without limitation forums, chats, contests or sweepstakes) as well as all other related operating rules or policies, each of which is incorporated by reference where applicable.</p>
<p>When you access the Services through a mobile network, Your network or roaming provider’s messaging, data and other rates and fees will apply.&nbsp; Downloading, installing or using the Services may be prohibited or restricted by your network provider and the some or all parts of the Services may not work with your network provider or device.</p>
<p><strong>Use of the Services</strong></p>
<p>The Services are provided to You for your personal and non-commercial use only. You shall not sell, rent or give away your Services, create Services account by using a false identity or information, or on behalf of someone other than yourself. You shall not use the Services if you have previously been removed from using any part of the Services by Florasoft, or previously been banned from playing any Florasoft game.</p>
<p>Subject to your compliance with these Terms, Florasoft grants to You a limited, nonexclusive, non-sublicensable and non-transferable right to use the Services and the executable versions (no source code) of any software or applications included in the Services. You may not use such any part of the Services for any purpose other than the permitted use of the Services.</p>
<p>You understand that for reasons that include, without limitation, system security and stability, Services may need to automatically update, pre-load, create new versions or otherwise enhance the application and accordingly, the system requirements to use the application may change over time. These Terms do not entitle You to future updates, new versions or other enhancements of the application although Florasoft may choose to provide such updates, etc. in its sole discretion.</p>
<p>You shall give to Florasoft correct personal and other information necessary for using the Services if such information is required. &nbsp;You shall inform Florasoft of any changes to such information. You become a registered user of the Services by signing into the Services by using the in-app or in-game registration or any applicable registration form on the Services’ webpages. If the registration is done through a social networking credentials (e.g. Facebook login information) You shall comply with the terms of service/use of nay social networking service as well as these Terms if using such third party service to register into the Services. [You shall not create more than one account per platform to access the Services]</p>
<p>You are solely responsible for all your use of the Services. You may not reveal, share or otherwise allow others to use your password, or use passwords of others. You agree that You are personally responsible for the use of your Services account, and for all of the communication and activity in connection with the Services. You are responsible for any use of your credit card or other payment instrument (e.g. PayPal) by third parties including minors.</p>
<p>Without limiting any other remedies, Florasoft may limit, suspend, terminate, modify, or delete access to the Services or parts thereof if You fail to comply, or if Florasoft suspects such failure, with the Terms or for any actual or suspected illegal or improper use of the Florasoft services, without notice to You. You may lose, as a result of termination or limitation of your right to use the Services, material, content, in-app-purchases, privileges and/or items associated with your use of the Services, and Florasoft is under no obligation whatsoever to compensate You for any such losses or results.</p>
<p>You may not sell, transfer or charge others for the right to use the Services or your Services account. Florasoft reserves the right to remove or reclaim any usernames at any time and for any reason, including but not limited to claims by a third party that a username violates the third party’s rights.</p>
<p>You are solely responsible for your interactions with other users of the Services and any other parties with whom You may interact through the Services.</p>
<p>You may not use any technological or other means (such as by cheating or using bugs or glitches in the Services, or by using third party tools or software) to use the Services in a way that is not within the spirit of fair play or these Terms. You specifically agree that You will not:</p>
<ul>
    <li>use the Services for fraudulent or abusive purposes (including, without limitation, by using the Services to impersonate any person or entity, or otherwise misrepresent our affiliation with a person, entity or our Services);</li>
    <li>disguise, anonymize or hide your IP address or the source of any content that You may upload;</li>
    <li>interfere with or disrupt the Services or servers or networks that provide the Services;</li>
    <li>attempt to decompile, reverse engineer, disassemble or hack any of the Services, or to defeat or overcome any of the encryption technologies or security measures or data transmitted, processed or stored by us;</li>
    <li>‘harvest’, ‘scrape’ or collect any information about or regarding other people that use the Services, including, but not limited to any personal data or information (including but not limited to spyware, passive collection mechanisms, etc.);</li>
    <li>disrupt the normal flow of a game or otherwise act in a manner that is likely to negatively affect other players’ ability to compete fairly when playing the games;</li>
    <li>disobey any requirements or regulations of any network connected to the Services;</li>
    <li>circumvent technological measures designed to control access to, or elements of, the Services;</li>
    <li>connect to Services (e.g. websockets) with software not developed by Florasoft;</li>
    <li>do anything else that is not within the spirit of fair play or the Terms</li>
</ul>
<p>On certain devices You may be able to control what device system permissions You give to Florasoft’s Services. Florasoft’s Services are intended to be used with the full permissions listed upon the Service part’s installation, and refusing any of these permissions may come with the drawback that the Services may not function properly.</p>
<p><strong>Intellectual Property Rights</strong></p>
<p>All rights, title and interest in and to the Services (including the related software and media), the design of the Services and associated content including text, scripts, graphics, interactive features and the like, and the trademarks, service marks and logos contained therein (“Florasoft Property”) are owned by or licensed to Florasoft, subject to copyright and other intellectual property rights under US and foreign laws and international conventions. Except as expressly provided in the Terms, Florasoft does not grant any express or implied rights to use Florasoft Property.</p>
<p>You are hereby granted a limited, nonexclusive, non-sublicensable and non-transferable license to access and use the Florasoft Property only in connection to the usage of the Services in accordance with these terms. Any use of the Services, and/or Florasoft Property other than as specifically authorized in the Terms, is prohibited and will terminate the license to use the Services. For avoidance of doubt, You have no right to sell or otherwise solicit any items included in the Services and You are forbidden from ripping any content unless specifically allowed.</p>
<p>Notwithstanding anything to the contrary herein, you acknowledge and agree that You shall have no ownership or other property interest in the Services and You further acknowledge and agree that all rights in and to the account and any content (including virtual items and currency whether earned or purchased) in the Services are and shall be the property of and owned by Florasoft. You agree not to move or amend any proprietary notices or other ownership information from the games or any other part of the Services;</p>
<p>Parts of the Services may allow you to upload material to Florasoft and/or into the Services and/or publish it through the Services. By uploading material to Florasoft or to the Services you warrant to Florasoft that you have the necessary rights to upload and/or publish such material. You agree that any material or information, including chat discussions, uploaded or shared the Services to harm anyone or to cause offence to or harass any person.</p>
<p><strong>Third-Party Services and Material</strong></p>
<p>The Services may contain links to websites operated by third parties or feature content which is made available by third-party services and enable You to access and use certain third-party services (such as video sharing services). Use of any websites operated by third parties, third-party services and/or content in third-party services shall be, in addition to these Terms, subject to the relevant third-party service provider’s terms and conditions applicable to use of such third-party services or the applicable license(s) under which any such content is made available. Florasoft assumes no responsibility for such third-party services and/or content in third-party services.</p>
<p>These Terms shall be in addition to (and take precedence over where not prohibited) any terms and conditions, applicable to the distribution platform (such as an application store including e.g. Apple App Store, Google Play or Microsoft Store) through which you are acquiring the Services, agreed to between you and the relevant third-party entity.</p>
<p><strong>Virtual Items, Fees and Purchases</strong></p>
<p>Some features (as specified in more detail in the relevant Service description and in-game), are available to Users for free and some against the payment of relevant fees. &nbsp;The Services enables You to purchase, with “real world” money, a limited, personal, non-transferable, non-sublicensable, revocable license to use virtual money and virtual in-game items or additional virtual features within the Services. Florasoft may manage, regulate, control, modify or eliminate such virtual money or virtual items offered in the Services at any time, with or without notice. Florasoft has no liability to You or any third party in the event that Florasoft exercises any such rights. The transfer of any virtual materials to other users is prohibited except where expressly authorized in the Services. Virtual items or in-game virtual currency purchased or available to you in the Services (incl. games) can only be used in connection with the relevant part of the Services&nbsp;.</p>
<p>You can buy virtual money with real money if you are at least 18 years old (or of other legal age under applicable laws). All purchases made in connection with the Services are final and non-refundable, however without limiting the possibility of a refund (if any) from the application store (in accordance with the relevant terms and conditions applicable to purchases from that application store) or applicable mandatory law. You will be given an opportunity to consent to delivery at the time of purchase and by consenting to delivery, You acknowledge that You have lost the right to cancel and the purchase fee is non-refundable. The provision of any virtual material and features for use in the Services is a service that commences immediately upon acceptance by Florasoft of your purchase. NO REFUND OF ANY FEES SHALL BE AVAILABLE, SAVE FOR AS PROVIDED ABOVE. ACKNOWLEDGE THAT YOU WILL NOT RECEIVE MONEY OR OTHER COMPENSATION FOR PURCHASED AND/OR UNUSED VIRTUAL ITEMS WHEN THE ACCESS TO THE SERVICE OR ACCOUNT IS CLOSED WHETHER SUCH CLOSURE WAS VOLUNTARY OR INVOLUNTARY. Some games on certain devices may allow you to save your game settings (incl. purchases and/or virtual items) and progress to your Services account or to third-party “cloud” servers (for example through your application store or phone operating system).Your purchases and/or virtual items may be stored also on your device only, and may not be stored by Florasoft. You could lose your purchases and/or virtual items e.g. if the Services is deleted from the Your device. Florasoft is not liable for any data corrupted or lost from Florasoft’s or any third party’s cloud services.</p>
<p>You are solely responsible for any costs (including any additional payment processing fees which may be applicable) you incur to access the Services through any internet, mobile or other communication service, such as any fees for downloading, installing, messaging, and other data usage on an Internet provider’s or mobile network, as well as for acquiring any additional features.</p>
<p><strong>Beta tests</strong></p>
<p>Florasoft may offer to You a chance to participate in beta tests (open or closed) of certain parts of its Services. Your participation into such beta tests may be subject to a separate non-disclosure agreement and/or supplemental policies.</p>
<p>By applying to and/or participating in beta tests You acknowledge and accept that:</p>
<ol><li>Due to the unfinished and experimental nature of the beta tested parts of the Services Florasoft may not provide any customer service or assistance regarding such parts of the Services. The parts of the Services being beta tested may be unfunctional on some devices regardless of their listed hardware or software requirements or specifications.</li>
<li>Any in-app purchases, items, equipment, experience points, in-game currency and other such content may be periodically reset by Florasoft during the course of the beta tests. Florasoft offers no refunds for any such lost content.</li>
<li>Any feedback or idea submitted by You to Florasoft regarding the beta tested parts of the Services may be utilized by Florasoft without any compensation to You. By submitting or creating any material, content (such as in-game user-created content) or feedback regarding the beta tested parts of the Services You grant to Florasoft an unlimited, sublicensable, fully paid up, nonexclusive and transferable license to utilize such material, content and/or feedback in its business.</li>
<li>Your application to participate in beta tests does not entitle You to be invited to, or to participate in any beta test offered by Florasoft.</li>
</ol><p><strong>Personal data and Security</strong></p>
<p>Use of Your personal data is governed by Florasoft <a href="{{ url_for('main.privacyPage') }}">Privacy Policy</a>. You approve to processing your personal data in accordance with the Florasoft <a href="{{ url_for('main.privacyPage') }}">Privacy Policy</a> by downloading, installing, accessing or using the Services.</p>
<p>Florasoft shall take appropriate measures to prevent unauthorized access to, improper use of and the reasonable accuracy of your personal data submitted to Florasoft via the Services. We use various technologies, including encryption and hashing, to ensure the high security standards. Any data that is stored on Florasoft servers is not generally available to the public. However, the use of internet services always includes security risks.</p>
<p>You shall be liable for all your own equipment, internet connectivity and software as well as that they do not cause harm to Florasoft and/or third parties. You agree not attempt to damage, hack, crack, reverse engineer, or otherwise interfere with the Services in any manner.</p>
<p><strong>Support and Modifications</strong></p>
<p>Florasoft shall have no obligation to provide support or maintenance for the Services under this Agreement. Florasoft may, at its sole discretion, provide limited customer support in the Services.</p>
<p>You understand that the Services are evolving. As long as your license for the Services is valid You are entitled to upgrades or updates of the Services. All upgrades and updates are provided to You on a license exchange basis. You agree that by using an upgrade or update You voluntarily terminate your right to use any previous version. Upgrades and updates may be licensed to You by Florasoft with additional or different terms. You may need to update third party software and/or upgrade your equipment from time to time in order to use the Services.</p>
<p><strong>Social Media and Game Content</strong></p>
<p>You may freely upload captions (such as audio, video and screenshots) of the Services to social media services (such as Facebook), online video services (such as YouTube), online picture sharing services (such as Instagram). All such material must be uploaded without editing them in a way that misrepresents the Services or any games included in the Services.</p>
<p><strong>Disclaimer / No Warranty</strong></p>
<p>The Services are provided to You by Florasoft “as is”. To the maximum extent permitted by applicable law, except as provided above, Florasoft MAKES NO WARRANTY OR REPRESENTATION, EITHER EXPRESSED OR IMPLIED WITH RESPECT TO THE SERVICES, THEIR QUALITY, PERFORMANCE, OR FITNESS FOR A PARTICULAR PURPOSE. AS A RESULT, THE SERVICES ARE PROVIDED “AS IS” AND “AS AVAILABLE” AND YOU ARE ASSUMING THE ENTIRE RISK AS TO ITS QUALITY AND PERFORMANCE.</p>
<p><strong>Indemnification</strong></p>
<p>You agree to defend, indemnify and hold harmless Florasoft, its affiliates, licensors, partners and subcontractors from all liabilities, claims and expenses, including reasonable attorneys’ fees, arising from or related to your breach of these Terms or portion hereof, or any act or omission by You relating to the Services. Florasoft reserves the right to assume its own defense and/or control of any matter otherwise subject to indemnification by You hereunder.</p>
<p><strong>Limitation of Liability</strong></p>
<p>You understand and acknowledge that Florasoft will not be liable for any network-related problems attributable to the operation of the Services and that network configuration changes may affect the system’s performance.</p>
<p>YOU HEREBY ACKNOWLEDGE AND AGREE THAT Florasoft SHALL HAVE NO LIABILITY WHATSOEVER IN CONNECTION WITH OR ARISING FROM YOUR USE OF THE SERVICES, AS SET FORTH HEREIN, INCLUDING ANY PHYSICAL OR SOFTWARE DAMAGE TO YOUR DEVICES. YOUR ONLY RIGHT OR REMEDY REGARDING ANY PROBLEMS OR DISSATISFACTION WITH THE SERVICES IS TO UNINSTALL ANY GAMES OR APPLICATIONS ASSOCIATED WITH THE SERVICES AND TO DISCONTINUE THE USE OF ANY WEBPAGES INCLUDED IN THE SERVICES.</p>
<p>Florasoft SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES, LOST PROFITS OR FOR BUSINESS INTERRUPTION ARISING OUT OF THE USE OF OR INABILITY TO USE THE GAME, EVEN IF Florasoft HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE LIABILITY OF Florasoft IS IN SUCH CASE LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW.</p>
<p>Some jurisdictions may not allow (some) limitations of liability. In such cases some limitations may not apply to You.</p>
<p><strong>Force Majeure</strong></p>
<p>Florasoft shall not be liable for any delay or failure to perform resulting from causes outside the reasonable control of Florasoft, including without limitation any failure to perform hereunder due to unforeseen circumstances or cause beyond Florasoft’s control such as acts of God, war, terrorism, riots, embargoes, acts of civil or military authorities, fire, floods, accidents, strikes, or shortages of transportation facilities, fuel, energy, labor or materials.</p>
<p><strong>Provisioning of the Services and Termination</strong></p>
<p>The license to use the Services granted under these Terms remains in effect until terminated by You or Us.</p>
<p>You may terminate the license at any time by uninstalling or destroying the applications relevant to the Services in your possession or control. Without prejudice to any other terms set forth in these Terms, the license will automatically terminate without notice from us if you in any way breach any provision of these Terms. Upon termination in accordance with these Terms for any reason, you must cease all use of the Services and promptly delete any applications and/or games associated with the Services. Your termination of the license for any reason shall not release you from any liabilities or obligations set forth in these Terms which (a) have expressly been stated as surviving any such termination or expiration, or (b) remain to be performed, or by their nature would be intended to be applicable following any such termination or expiration.</p>
<p>We reserve the right to delete your account if no activity is conducted by you in relation to the account for 180 or more days. In such event, you will no longer be able to access and/or use any virtual money and/or virtual goods associated with that account and no refund will be offered to you in relation to the same. Florasoft shall have the right to, at its sole discretion, decide upon provision of the Services and making it available to You and reserves the right to discontinue any aspect of the Services at any time.</p>
<p>You understand and agree that the cancellation of the license is your sole right and remedy with respect to any dispute related using the Services.</p>
<p><strong>General</strong></p>
<p>Florasoft may assign or delegate its rights and obligations under the Terms and/or the Florasoft <a href="{{ url_for('main.privacyPage') }}">Privacy Policy</a>, in whole or in part, to any person or entity at any time without your consent. You may not assign or delegate rights or obligations under the Terms or <a href="{{ url_for('main.privacyPage') }}">Privacy Policy</a> without Florasoft’s prior written consent.</p>
<p>Florasoft may publish additional policies related to specific games. Your right to use such game is subject to those specific policies and terms. These Terms, any supplemental policies of Florasoft and any documents expressly incorporated by reference herein (including the Florasoft <a href="{{ url_for('main.privacyPage') }}">Privacy Policy</a>), contain the entire understanding of You and Florasoft, and supersede all prior understanding between You and Florasoft.</p>
<p>These Terms describe certain legal rights. You may have other rights under the mandatory provisions under the laws of your country. These Terms do not change your rights under the mandatory provisions under the laws of your country. When you use the Services, you agree that we may begin to provide the services immediately and that you will not be entitled to a cancellation or “cooling off” period, except if the mandatory provisions of the law requires such cooling off period. You and Florasoft agree that if any portion of the Terms&nbsp; or if the Florasoft <a href="{{ url_for('main.privacyPage') }}">Privacy Policy</a> &nbsp;is found illegal or unenforceable, in whole or in part by any court of competent jurisdiction, such provision shall, as to such jurisdiction, be ineffective solely to the extent of such determination of invalidity or unenforceability without affecting the validity or enforceability thereof in any other manner or jurisdiction and without the remaining provisions of the terms, which shall continue to be in full force and effect.</p>
<p>Florasoft reserves the right to change the fees related to the Services at any time, and the right to change, modify, add or remove portions of the Terms and its <a href="{{ url_for('main.privacyPage') }}">Privacy Policy</a> at&nbsp;any given time. You should check the Terms and <a href="{{ url_for('main.privacyPage') }}">Privacy Policy</a> regularly. You will be deemed to have accepted such changes by continuing to use the Services. Florasoft will, however, notify Users by posting a note in the Services of any substantial changes to the Terms. Further, if at any point You do not agree to any portions of then-current version of our Terms, Florasoft <a href="{{ url_for('main.privacyPage') }}">Privacy Policy</a> , or any other Florasoft policy, rules or codes of conduct relating to your use of the Services, your license to use the Services shall immediately terminate, and You must immediately stop using the Services. Please check the Services on a regular basis so that You remain aware of the then-current Terms.</p>
<p><strong>Disputes and Applicable Law</strong></p>
<p>All disputes relating to the Services and the Terms shall be settled at the District Court of Volusia County, Florida having the sole jurisdiction.</p>
<p>These Terms shall be governed by and shall be construed in accordance with U.S. law excluding its choice of law provisions.</p>
</div>

{% endblock %}

{% block footer %}
<address>
<p>
    <strong>Florasoft LLC</strong> <a href="https://www.florasoft.live">www.florasoft.live</a>
    &nbsp;&nbsp;&nbsp;
    Business ID <a href="{{ url_for('main.llcPage') }}" >L19000016218</a>
    &nbsp;&nbsp;&nbsp;
    Email <a href="mailto:rosemaster3000@gmail.com">rosemaster3000@gmail.com</a>
    &nbsp;&nbsp;&nbsp;
    PO BOX 731412 Ormond Beach, FL 32173
</p>
</address>
{% endblock %}

