<!DOCTYPE html>
<html lang="en">
<head>
    {% include "baseVue.html" %}
    {% include "baseHead.html" %}
    <title>FS | NETSOL</title>
</head>

<style>
    .navbar {background-color: rgba(0, 0, 0, 0.94);}
</style>


<body>
<v-app id="app">
    <v-navigation-drawer v-model="drawer" app>
        {% if config["LOCAL"] %}
        {% for n in config["NAVPAIRS"] %}
            <a {% if request.path.startswith(url_for(n[1])) %} id="navselect" {% endif %} href="{{ url_for(n[1]) }}">{{n[0]}}</a>
        {% endfor %}
        {% endif %}
    </v-navigation-drawer>

    <v-app-bar app>
        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title>Application</v-toolbar-title>
    </v-app-bar>

    <v-main>
        <h1>SOL</h1>
        <div>
            <p v-if="isConnected">Connected to the server!</p>
            <p>Message from server: [[socketMessage]]</p>
            <button @click="pingServer()">Ping Server</button>
        </div>

        <!-- <qrcode-stream @decode="onDecode"></qrcode-stream> -->
        <!-- <qrcode-stream> </qrcode-stream> -->
        <!-- <qrcode-drop-zone> </qrcode-drop-zone> -->
        <!-- <qrcode-capture> </qrcode-capture> -->
    </v-main>


</v-app>


<!-- Vuetify -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<!-- Socket.io / Vue-QRcode-Reader -->
<script src="https://cdn.jsdelivr.net/npm/vue-socket.io@3.0.10/dist/
vue-socketio.min.js"></script>
<script src="{{ url_for('static', filename='js/vue-qr.js') }}"></script>
<!-- Vue App -->
<script src="{{ url_for('static', filename='js/sol.js') }}"></script>

</body>
</html>



