{% extends "baseDark.html" %}

{% block title %}
{{ franchise }}
{% endblock %}


{% block script %}
<script src="{{ url_for('static', filename='js/waifu.js') }}"></script>
{% endblock %}


{% block content %}
<tbody>
{% for i in range(count) %}
    <tr>
        <h1>{{name_list[i]}}</h1>
        <form
            action = "/waifu/{{franchise}}/{{name_list[i]}}/overwrite"
            method = "POST" 
            enctype = "multipart/form-data">
            <input type = "file" name = "file" required/>
            <input type = "submit"/>
        </form>

        <picture>
          <source type="image/webp" srcset="{{ url_list[i] }}" media="height: 400">
          <img src="{{ url_list[i] }}" alt="An image of {{name_list[i]}}" height="400">
        </picture>
    </br>
    </tr>
{% endfor %}
</tbody>
<div id="headfootPad"></div>
{% endblock %}


{% block footer %}
<center>
<select id="franchise-menu" class="menu" onchange="gotosite()">
{% for f in franchise_list %}
    <option value="{{f}}">{{f}}</option>
{% endfor %}
</select>
</center>
{% endblock %}